@model string

<br />
<div class="row">
    <div class="col-auto">
        @if(@Model == "Delete")
        {
        <button type="submit" class="btn btn-danger"><i class="fa-solid fa-trash"></i> Delete</button>
        }
        @if(@Model == "Create")
        {
        <button type="submit" class="btn btn-success"><i class="fa-solid fa-plus"></i> Create</button>
        }
        @if(@Model == "Save")
        {
        <button type="submit" class="btn btn-info"><i class="fa-solid fa-floppy-disk"></i> Save</button>
        }
     
    </div>
    <div class="col-auto">
        <a asp-action="Index" class="btn btn-secondary"><i class="fa-solid fa-circle-arrow-left"></i> Back to list</a>
    </div>
</div>