@model string

<div class="col">
    <button type="submit" class="btn btn-success w-100"><i class="fa-solid fa-plus"></i>@Model</button>   
</div>
<div class="col">
    <a asp-action="Index" class="btn btn-secondary w-100"><i class="fa-solid fa-circle-arrow-left"></i>Back to list</a>
</div>